hostname {{ hostname }}
no ip domain lookup
!
interface Loopback0
  ip address {{ loopback }}
  description Lo0::{{ hostname }}
{% for intf, detail in interfaces.items() %}
interface {{ intf }}
  ip address {{ detail.ip }}
  description {{ detail.description }}
  no shutdown
{% endfor %}
{% if routing.bgp -%}
!
router bgp {{ routing.bgp }}
{% if advertise_loopback and loopback %}
  network {{ loopback.split()[0] }} mask {{ loopback.split()[1] }}
{% endif %}
{% for neighbor in neighbors -%}
  neighbor {{ neighbor.ip }} remote-as {{ neighbor.asn }}
  address-family ipv4
    neighbor {{ neighbor.ip }} activate
  exit-address-family
{% endfor -%}
{% endif %}
